doctype html
html
  head
    title isogrammer
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400")
    link(rel='stylesheet', href='main.css')

  body
    .wrapper
      .inputs
        hgroup.headings
          h1.logo isogrammer
          h2.tagline Isogram analytics generator

        input(type="text", placeholder="isogram")
        p.credits by 
          a(href="https://github.com/jaxgeller") @jaxgeller

      .output
        code.google-analytics


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(src="main.js")