@include keyframes(flash) {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(fadeIn) {
  from {
    color: red;
  }
  to {
    color: black;
  }
}