.headings {
  @include clearfix;
  margin-bottom: 120px;
}

.logo {
  float: left;
  @include size(174px 34px);
  margin: 0;
  background: url("images/logo.svg") center center no-repeat;
  @include hide-text;
}

.tagline {
  float: left;
  margin: 7px 0 0 15px;   // eyeballed it
  font-weight: 300;
  font-size: 18px;
}

.input {
  @include appearance(none);
  @include size(400px auto);
  padding: 0 0 15px 10px;
  background-color: $red;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 54px;
  color: white;

  // match the placeholder to the typed text
  @include placeholder {
    color: white;
  }
}
