// color vars

$red: #FF2750;

// reset and mixin library

@import "normalize";
@import "bourbon/bourbon";

// media query mixin

@mixin mq($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

// global styles

*,
*::before,
*::after {
  @include box-sizing(border-box);
}

a {
  text-decoration: none;
  color: white;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  background-color: $red;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.25;
  color: white;
}

// partials

@import "layout";
@import "home";
