$red: #FF2750;
$mobile: 1080px;

@import "normalize";
@import "bourbon/bourbon";
@import "mixins";
@import "animations";



// defaults
*,
*::before,
*::after {
  @include box-sizing(border-box);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  background-color: $red;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.25;
  color: white;
}

@import "layout";
@import "home";
